#more-help {
    padding: 64px 0;
    h3 {
        color: $orange;
        font-weight: 500 !important;
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
    }
    > p {
        font-size: 16px;
        width: 100%;
        font-family: Arial, sans-serif !important;
        font-weight: 500 !important;
        text-align: center;
        display: block;
        margin-bottom: 64px;
    }

    #options-wrapper {
        img {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 768px) {
    #more-help {
        padding: 32px 20px 0 20px;
        p {
            margin-bottom: 20px;
        }
        h3 {
            font-size: 21px;
        }
        #options-wrapper {
            img {
                margin-right: 0;
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #more-help {
        padding: 32px 0 0 0;
        p {
            margin-bottom: 20px;
        }
        #options-wrapper {
            .contact-option {
                margin-bottom: 20px;
                img {
                    width: 40px;
                    margin-right: 10px;
                    margin-bottom: 33px;
                }
                h5, p {
                    font-size: 16px;
                }
            }
        }
    }
}
